<div class="row">
  <div class='large-12 columns'>
    <h1>Profile</h1>
  </div>
</div>
<div class='row'>
  <div class='large-4 columns'>
    <%= image_tag('profile_pic.png', alt:'profile_pic', id:'profile_pic') %>
  </div>
  <div class='large-8 columns'>
    <div class='row'>
      <div class='large-6 small-6 columns'>
        <h4>Thomas Lee</h4>
      </div>
      <div class='large-6 small-6 columns'>
        <p>McLean, VA</p>
      </div>
    </div>
  </div>
</div>