.columns{
  border:solid;
  border-width:2px;
  border-color:#0B3B17
}
.row{
  border-width:5px; 
  border-style:outset;
  border-color:#58ACFA;
}
#profile_pic{
  border:solid;
  border-width:1px;
  display: block;
  margin:auto;
}
